.header {
    height: 85px;
    border: 1px solid black;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__country {
        margin-top: 20px;
        height: 50px;
        width: 250px;
        display: flex;
        &-image {
            display: block;
            height: 21px;
            margin-right: 11px;
        }
        &-title {
            font-size: 14px;
            font-weight: 700;
            margin: 0px;
        }
        &-text {
            font-size: 13px;
            font-weight: 300;
            a:link, a:visited {
                color: black;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 1400px) {
    .header {
        &__country {
            margin-top: 10px;
            &-text {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 992px) {
    .header {
        &__country {
            margin-top: 15px;
            &-text{
                &-adress, &-mail, br {
                    display: none;
                }
            }
        }
    }
}